apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

helmCharts:
  - name: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    version: 56.0.0
    releaseName: monitoring
    namespace: monitoring
    includeCRDs: true
    valuesInline:
      kubeEtcd:
        enabled: true
        endpoints:
          - 10.50.1.50
          - 10.50.1.51
          - 10.50.1.52
        service:
          enabled: true
          port: 2381
          targetPort: 2381
      kubeControllerManager:
        service:
          selector:
            k8s-app: kube-controller-manager
      kubeScheduler:
        service:
          selector:
            k8s-app: kube-scheduler
      alertmanager:
        alertmanagerSpec:
          storage:
            volumeClaimTemplate:
              spec:
                accessModes: ["ReadWriteOnce"]
                resources:
                  requests:
                    storage: 10Gi
      prometheus:
        prometheusSpec:
          storageSpec:
            volumeClaimTemplate:
              spec:
                accessModes: ["ReadWriteOnce"]
                resources:
                  requests:
                    storage: 40Gi
      grafana:
        grafana.ini:
          auth:
            disable_login_form: true
            disable_signout_menu: true
          auth.basic:
            enabled: false
          auth.anonymous:
            enabled: true
        additionalDataSources:
          - name: Prometheus
            type: prometheus
            uid: prometheus
            access: proxy
            url: http://monitoring-kube-prometheus-prometheus.monitoring:9090
            isDefault: true
            jsonData:
              timeInterval: 30
        service:
          annotations:
            omni-kube-service-exposer.sidero.dev/port: "50082"
            omni-kube-service-exposer.sidero.dev/label: Grafana