apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cert-manager

helmCharts:
  - name: cert-manager
    repo: https://charts.jetstack.io
    version: v1.19.2
    releaseName: cert-manager
    namespace: cert-manager
    includeCRDs: true
    valuesInline:
      installCRDs: true
      global:
        leaderElection:
          namespace: cert-manager
      extraArgs:
        - --dns01-recursive-nameservers-only=true
        - --dns01-recursive-nameservers=1.1.1.1:53,1.0.0.1:53
